body {
	margin: 0px !important;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	padding-top: 95px;
	text-align: center;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
}

.hero-search {
	width: 50%;
}

.container-padded {
	padding: 0px 40px;
}

.pi {
	font-size: 1rem;
}
